[package]
name = "matchspec"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
nom = "7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"


[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "parsing"
harness = false
